---
import type { GetStaticPaths } from 'astro';
import PokemonCard from '@components/pokemons/PokemonCard.astro';
import MainLayout from '@layout/MainLayout.astro';
import type { PokemonListResponse } from '@interfaces/pokemon-list-response';
import Title from '@components/shared/Title.astro';

export const getStaticPaths = (async () => {
  const res = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
  const { results } = (await res.json()) as PokemonListResponse;

  return results.map((pokemon: { name: string; url: string }) => ({
    params: { name: pokemon.name },
    props: pokemon,
  }));
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;
const id = url.split('/').at(-2);
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;

const title = `Pokemon -#${id} ${name}`;
---

<MainLayout
  title={title}
  description={`information about ${name}`}
  image={imageSrc}
>
  <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <div class="mb-2">
      <button onclick="history.back()" class="text-blue-500">Regresar</button>
      <Title>{name}</Title>
    </div>
    <audio controls>
      <source src={audioSrc} type="audio/ogg" />
      Your browser does not support the audio element.
    </audio>
  </section>
  <PokemonCard name={name} url={url} isBig />
</MainLayout>

<style>
  a {
    @apply text-blue-500 hover:underline;
  }
</style>
